name: 部署文档

on: 
  push: 
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 创建 .nojektll 文件
        run: |
          touch .nojekyll
          echo "This file disables Jekyll processing" > .nojektll
      
      - name: 设置pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: 设置 Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: 安装依赖
        run: |
          corepack enable
          pnpm install --frozen-lockfile
      
      - name: 构建文档
        env: 
          NODE_OPTIONS: --max_old_space_size=8192
        run: |
          pnpm run docs:build
          > src/.vuepress/dist/.nojektll

      # 确保输出目录也有 .nojekyll
      - name: 在输出目录添加 .nojekyll
        run: |
          touch src/.vuepress/dist/.nojekyll

      - name: 设置 Pages
        uses: actions/configure-pages@v4

      - name: 上传构建产物
        uses: actions/upload-pages-artifact@v3
        with:
          path: src/.vuepress/dist
    
      - name: 部署到 GitHub Pages
        uses: actions/deploy-pages@v4
        
      # - name: 部署文档
      #   uses: JamesIves/github-pages-deploy-action@v4
      #   with:
      #     # 部署文档
      #     branch: gh-pages
      #     folder: src/.vuepress/dist

